<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="./css/stylesheet.css">
</head>
<body>
        <div class="main-content">

{{>header}}
{{!-- <h1>{{title}}</h1> --}}
<div class="container">
  <img src="./img/ankit.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hi There</div>
  </div>
</div>
<br>
<br>
<p>This site was created by Ankit Prasad.It uses data from mapbox.com and darksky.net</p>
        </div>


</body>
</html>
{{!-- <img src="./img/ankit.jpg"> --}}
{{!-- <p>Created by {{name}}</p> --}}
{{>footer}}
</body>






</html>