<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="./css/stylesheet.css">
        <script src="./javascript/myapp.js"></script>
</head>        
<body>
        <div class="main-content">
                {{>header}}
        </div>

{{!-- <h1>{{helptext}}</h1> --}}
{{>footer}}

</body>






</html>